[submodule "Printed-Circuit-Boards/Breakout-boards/STM32F030F4P6-Breakout-Boards/Breakout-board-sans-prototyping-area"]
	path = Printed-Circuit-Boards/Breakout-boards/STM32F030F4P6-Breakout-Boards/Breakout-board-sans-prototyping-area
	url = https://github.com/nathancharlesjones/STM32F030F4P6-breakout-board.git
[submodule "Printed-Circuit-Boards/Breakout-boards/STM32G0-Breakout-Boards/Breakout-board-sans-prototyping-area"]
	path = Printed-Circuit-Boards/Breakout-boards/STM32G0-Breakout-Boards/Breakout-board-sans-prototyping-area
	url = https://github.com/nathancharlesjones/STM32G0-Breakout-Boards.git
[submodule "Printed-Circuit-Boards/Prototyping-PCBs/Breadboard-Single"]
	path = Printed-Circuit-Boards/Prototyping-PCBs/Breadboard-Single
	url = https://github.com/nathancharlesjones/Breadboard-single.git
[submodule "Printed-Circuit-Boards/Prototyping-PCBs/Breadboard-Panelized"]
	path = Printed-Circuit-Boards/Prototyping-PCBs/Breadboard-Panelized
	url = https://github.com/nathancharlesjones/Breadboard-panelized.git
[submodule "Printed-Circuit-Boards/Prototyping-PCBs/Stripboard-Single"]
	path = Printed-Circuit-Boards/Prototyping-PCBs/Stripboard-Single
	url = https://github.com/nathancharlesjones/Stripboard-single.git
[submodule "Printed-Circuit-Boards/Prototyping-PCBs/Stripboard-Panelized"]
	path = Printed-Circuit-Boards/Prototyping-PCBs/Stripboard-Panelized
	url = https://github.com/nathancharlesjones/Stripboard-panelized.git
[submodule "Getting-Started-Guides/MSP430"]
	path = Getting-Started-Guides/MSP430
	url = https://github.com/nathancharlesjones/Getting-Started-with-the-MSP430.git
[submodule "Getting-Started-Guides/PIC16-PIC18-dsPIC33"]
	path = Getting-Started-Guides/PIC16-PIC18-dsPIC33
	url = https://github.com/nathancharlesjones/Getting-Started-with-the-PIC16-PIC18-dsPIC33.git
[submodule "Getting-Started-Guides/LPC845-BRK"]
	path = Getting-Started-Guides/LPC845-BRK
	url = https://github.com/nathancharlesjones/Getting-Started-with-the-LPC845-BRK.git
[submodule "Getting-Started-Guides/STM32G031J6"]
	path = Getting-Started-Guides/STM32G031J6
	url = https://github.com/nathancharlesjones/Getting-Started-with-the-STM32G031J6.git
[submodule "Getting-Started-Guides/XMC2GO_XMC1100"]
	path = Getting-Started-Guides/XMC2GO_XMC1100
	url = https://github.com/nathancharlesjones/Getting-Started-with-the-XMC2GO-XMC1100.git
